/build
CLI/Devices/__pycache__/ToF.cpython-311.pyc
CLI/Devices/__pycache__/Imu.cpython-311.pyc
CLI/Devices/__pycache__/Fsr.cpython-311.pyc
CLI/Devices/__pycache__/HRU.cpython-311.pyc
CLI/Devices/__pycache__/DeviceAbs.cpython-311.pyc
CLI/Devices/__pycache__/Amg8833.cpython-311.pyc
CLI/Devices/__pycache__/__init__.cpython-311.pyc
CLI/Assets/__pycache__/SerialHandler.cpython-311.pyc
CLI/Assets/__pycache__/CommonMethods.cpython-311.pyc
CLI/Assets/__pycache__/CommandHandler.cpython-311.pyc
CLI/Assets/__pycache__/AbsHandler.cpython-311.pyc
CLI/Assets/__pycache__/__init__.cpython-311.pyc
CLI/__pycache__/M5Telemetry.cpython-311.pyc
CLI/__pycache__/__init__.cpython-311.pyc
.idea/vcs.xml
.idea/M5StackTelemetry.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
